<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    form
      input#info_form_application_url(type="text")
    script(src="require.js")
    script(src="clipboard.js")